*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 800;
    font-size: 80px;
    color: black;
    margin-left: 20px;
    padding-top: 5px;
}
.navbuttons{
    color: black;
    padding: 0 30px;
    font-size: 25px;
    
}
.adopt{
    background-color: #4BD8EB;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.imgg{
    text-align: left;
    max-width: 100px;
}

.dogs_img{
    display: block;
    min-width: 900px;
    min-height: 500px;
}
.adopt_heading{
    font-weight: 500;
    font-size: 75px;
    color: #A062D0;
}
.home_buttons{
    background-color: #64E8B0;
    border-style: none;
    padding: 20px 40px;
    margin-top: 60px;
    font-size: 25px;
    
}
.main{
    display: flex;
}

.right_side_main{
    margin-top: 15vw;
    margin-left: 30px;
    text-align: center;
}


.button{
     margin-left: 20px;
     background-color: white;
     border: 5px solid #64E8B0;
     padding: 15px 35px;
}
.secondpage{
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.leftsidenextpage{
    width: 70%;
    height: 100%;
}

.seconddogimg{
    width: 100%;
}

.rightsidenextpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: -100px;
}

.secondpagebutton{
    height: 80px;
    width: 150px;
    font-size: 20px;
    border-style: none;
    background-color: white;
    margin-top: 50px;
    border: solid black 5px;
}

.formdiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

form{
    margin: 0 auto;
}

.formimg{
    height: 30%;
}

.formheading{
    font-weight: 500;
    font-size: 80px;
    margin-top: 200px;
    margin-bottom: 50px;
}

/* label{
    color: #2CADBE;
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
} */

.textbox{
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
    border: 0;
    background-color:  #00E7FF;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    height: 70px;
    padding-left: 10px;
    display: block;
    font-size: 30px;
}

.textbox::placeholder{
    color: #fff;
    font-weight: 400;
}

.textbox:focus{
    outline: none;
}






.submit{
    background-color: #A062D0;
    border: black;
    height: 40px;
    width: 120px;
    font-size: 20px;
}
